<!DOCTYPE html>
<html>
<head>
  <title>PuppiesBnb</title>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDFraQ8I0uEUdvY82etnO4eJ76-QrrvCKc" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
